params.reference_genome =  '/state/partition1/db/human/gatk/2.8/b37/human_g1k_v37.fasta'
params.vep_cache = '/share/data/db/human/vep_cache/refseq37'
params.vepversion = '97'
params.vepversion_mt = '97'
params.vep_cache = '/share/data/db/human/vep_cache/refseq37_v97'
params.vep_cache_mt = 'test'
params.clinvar =  '/share/data/db/human/clinvar/clinvar.vcf.gz'
params.whitelist = '/share/data/diagnostics/pipelines/dragenwgs_post_processing/dragenwgs_post_processing-1.1.0/config/NexteraDNAFlex/NexteraDNAFlex_whitelist.csv'
params.whitelist_mito = '/share/data/diagnostics/pipelines/dragenwgs_post_processing/dragenwgs_post_processing-1.1.0/config/NexteraDNAFlex/NexteraDNAFlex_whitelist_mito.csv''
params.gene_panel = '/share/data/diagnostics/pipelines/dragenwgs_post_processing/dragenwgs_post_processing-1.1.0/config/NexteraDNAFlex/NexteraDNAFlex_virtual_panel.csv'
params.mitomap_vcf = 'test'
params.gnotate = 'test'

params.min_mt_af = 0.05
params.snp_qual = 13
params.indel_qual = 13
params.min_dp = 10
params.min_gq = 5

params.gnomad_ad = 0.01
params.gnomad_r = 0.01

process.executor = 'pbs'

params.vcf_processing_cpus = 12
params.vep_cpus = 12
params.relatedness_cpus = 12
params.small_task_cpus = 12
