params.sequencing_run = 'test'
params.vcf =  "test/NA12878.trio.sorted{.vcf.gz,.vcf.gz.tbi}"
params.variables = 'test/*/*.variables'
params.reference_genome =  '/state/partition1/db/human/gatk/2.8/b37/human_g1k_v37.fasta'
params.reference_genome_index =  '/state/partition1/db/human/gatk/2.8/b37/human_g1k_v37.fasta.fai'
params.vepversion = '100'
params.vepversion_mt = '100'
params.vep_cache = '/share/data/db/human/vep_cache/refseq37_v100'
params.vep_cache_mt = '/share/data/db/human/vep_cache/merged37_v100/'
params.clinvar =  '/share/data/db/human/clinvar/clinvar.vcf.gz'
params.whitelist = '/share/data/diagnostics/pipelines/dragenwgs_post_processing/dragenwgs_post_processing-1.2.0/config/NexteraDNAFlex/NexteraDNAFlex_whitelist.csv'
params.whitelist_mito = '/share/data/diagnostics/pipelines/dragenwgs_post_processing/dragenwgs_post_processing-1.2.0/config/NexteraDNAFlex/NexteraDNAFlex_whitelist_mito.csv'
params.gene_panel = '/share/data/diagnostics/pipelines/dragenwgs_post_processing/dragenwgs_post_processing-1.2.0/config/NexteraDNAFlex/NexteraDNAFlex_virtual_panel.csv'
params.mitomap_vcf = '/share//data/db/human/mitomap/200414_mitomap.vcf.gz'
params.gnotate_gnomad = '/share/data/db/human/gnomad/gnomad.hg37.zip'
params.gnotate_spliceai = '/share/data/db/human/SpliceAI/spliceai.hg19.snps.indels.filtered.zip'
params.tmp_dir = './'

params.min_mt_af = 0.05
params.snp_qual = 13
params.indel_qual = 13
params.min_dp = 10
params.min_gq = 5
params.max_parental_alt_ref_ratio = 0.05

params.gnomad_ad = 0.01
params.gnomad_r = 0.01
params.max_mitomap_af = 0.05
params.splice_ai_cutoff = 0.2

params.publish_dir = 'results/'


params.upd_min_dp = 25
params.upd_min_gq = 15
params.upd_min_qual = 15
params.upd_p_value = 0.001
params.upd_block_size = 1000000
params.upd_min_variants_per_block = 100
params.upd_min_blocks = 2
params.upd_min_proportion = 0.01

params.calculate_upd = true
params.testing = true
params.test_sample = 'NA12878i'

process.executor = 'pbs'


params.vcf_processing_cpus = 12
params.vep_cpus = 12
params.relatedness_cpus = 12
params.small_task_cpus = 12



