params.reference_genome =  '/state/partition1/db/human/gatk/2.8/b37/human_g1k_v37.fasta'
params.sequence_dict = '/state/partition1/db/human/gatk/2.8/b37/human_g1k_v37.dict'
params.capture_bed = '/share/data/diagnostics/pipelines/dragenge_post_processing/dragenge_post_processing-1.0.0/config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37.bed'
params.coverage_bed = '/share/data/diagnostics/pipelines/dragenge_post_processing/dragenge_post_processing-1.0.0/config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37_coverage.bed'
params.coverage_groups = '/share/data/diagnostics/pipelines/dragenge_post_processing/dragenge_post_processing-1.0.0/config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37_coverage_groups.txt'
params.gnomad_exomes = '/share/data/db/human/gnomad/gnomad.exomes.r2.0.1.sites.vcf.gz'
params.gnomad_genomes = '/share/data/db/human/gnomad/gnomad.genomes.r2.0.1.sites.noVEP.vcf.gz'
params.vep_threads = 1
params.vep_cache = '/share/data/db/human/vep_cache/refseq37'
params.min_coverage = 20
params.pipeline_version = '1'
params.high_confidence_snps = '/state/partition1/db/human/gatk/2.8/b37/1000G_phase1.snps.high_confidence.b37.vcf'
params.publish_dir = 'results/'
params.hotspots = '/share/data/diagnostics/pipelines/dragenge_post_processing/dragenge_post_processing-1.0.0/config/IlluminaTruSightOne/IlluminaTruSightOne_hotspots.bed'
params.refseq = '/share/data/db/human/refseq/ref_GRCh37.p13_top_level_canonical_b37_sorted.gff3.gz'

params.snps_min_qual = 7.0
params.snps_max_fs = 200.0
params.snps_min_mqranksum = -15.0
params.snps_min_readposranksum = -20.0

params.min_genotype_depth = 8

process.executor = 'pbs'

params.vcf_processing_cpus = 12
params.vep_cpus = 12
params.relatedness_cpus = 12
params.small_task_cpus = 12


params.calculate_sensitivity = true 
params.reference_genome_faidx = '/share/data/db/human/gatk/2.8/b37/human_g1k_v37.fasta.fai'
params.giab_sample = '18M01315'
params.giab_baseline = '/share/data/db/human/giab/3.3.2/HG001_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_PGandRTGphasetransfer.vcf.gz'
params.giab_high_confidence_bed = '/share/data/db/human/giab/3.3.2/HG001_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_nosomaticdel.bed'
params.giab_reference_genome_sdf = '/share/data/db/human/gatk/2.8/b37/human_g1k_v37-SDF'
