params.sequencing_run = '200308_A00748_0015_BHKVL3DRXX'
params.worklist_id = '200308_A00748_0015_BHKVL3DRXX'
params.vcf =  "/home/joseph/Documents/dragen/dragenwgs_post_processing/200308_A00748_0015_BHKVL3DRXX/${params.sequencing_run}{.vcf.gz,.vcf.gz.tbi}"
params.variables = '/home/joseph/Documents/dragen/dragenwgs_post_processing/200308_A00748_0015_BHKVL3DRXX/*/*.variables'
params.reference_genome =  '/media/joseph/Storage/genomic_resources/bwa/human_g1k_v37.fasta'
params.sequence_dict = '/media/joseph/Storage/genomic_resources/bwa/human_g1k_v37.dict'
params.gnomad_exomes = '/media/joseph/Storage/genomic_resources/gnomad/gnomad.exomes.r2.0.1.sites.vcf.gz'
params.gnomad_genomes = '/media/joseph/Storage/genomic_resources/gnomad/gnomad.genomes.r2.0.1.sites.noVEP.vcf.gz'
params.clinvar = '/media/joseph/Storage/genomic_resources/clinvar/clinvar.vcf.gz'
params.vep_threads = 1
params.vep_cache = '/media/joseph/Storage/genomic_resources/vep_caches/vep'
params.pipeline_version = '1'
params.publish_dir = 'results/'
params.gene_panel = '/home/joseph/Documents/dragen/dragenwgs_post_processing/config/NexteraDNAFlex/NexteraDNAFlex_virtual_panel.csv'
params.whitelist = '/home/joseph/Documents/dragen/dragenwgs_post_processing/config/NexteraDNAFlex/NexteraDNAFlex_whitelist.csv'

params.min_mt_af = 0.05
params.snp_qual = 13
params.indel_qual = 13
params.min_dp = 10
params.min_gq = 5

params.gnomad_ad = 0.01
params.gnomad_r = 0.01


params.vcf_processing_cpus = 1
params.vep_cpus = 12
params.relatedness_cpus = 1
params.small_task_cpus = 1